:root{
    --primario: #1c1c1c;
    --secundario: #000;
    --blanco: #fff;
    --amarillo: #F5D655;


    --fuentePrincipal: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*GLOBALES*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 7rem;
}

h1,h2,h3{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}


/*HEADER*/
header{
    display: flex;
    justify-content: center;
}

.header__logo{
    display: block;
    margin: 0 auto;
}


/*NAVEGACION*/

.navegacion{
    /* display: flex; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #000;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: 700;
}
.pri{
    grid-column: 3 / 4;
    text-align: center;
}
.se{
    text-align: center;
}
#carrito-nav{
    grid-column: 6 / 7;
    text-align: center;
}

.cero-nav{
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
    background-color: var(--amarillo);
    border: .5rem solid #F5D655;
    border-radius: 50%;
    font-weight: bold;
}

.paren{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2rem;
}


#cantidadM{
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
    background-color: var(--amarillo);
    border: .5rem solid #F5D655;
    border-radius: 50%;
    font-weight: bold;
}

.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--amarillo);
}

/*GRID*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/*Productos*/

.producto{
    background-color: var(--secundario);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
    
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--amarillo);
}

.producto__precio,
.producto__nombre{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/*GRAFICOS*/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--collares{
    grid-row: 2 / 3;
    background-image: url(../img/portada1.jpg);
}

.grafico--cola{
    background-image: url(../img/portada2.jpg);
    grid-row: 8 / 9;
}

/*FOOTER*/
.footer{
    background-color:var(--secundario);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/*Nosotros*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.nosotros__imagen{
    grid-row: 1 / 2;
    margin-bottom: 0;
}

.nosotros__contenido{
    display: block;
}

/*ICONOS*/
.por{
    margin-top: 4.5rem;
}

.iconos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 2rem;
 }


/*PRODUCTO*/

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  
  }
  
  .formulario__campo{
     border: 1rem solid var(--secundario);
     background-color: var(--primario);
     color: var(--blanco);
     font-family: 'Helvetica', sans-serif;
     font-size: 2rem;
     padding: 1rem;
  }
  
  .formulario__submit{
     background-color: var(--amarillo);
     border: none;
     font-size: 2rem;
     font-family: var(--fuentePrincipal);
     padding: 2rem;
     transition: background-color .3s ease-in-out;
     grid-column: 1 / 3;
     color: #000;
     margin: 0 auto;
     width: 100%;
  }
  
  .formulario__submit:hover{
      cursor: pointer;
      background-color: var(--amarillo);
      color: var(--secundario);
  }

.animate__animated.animate__backInLeft{
    animation-delay: 1s;
}

@media(max-width: 420px){
    .grid{
        grid-template-columns: 1fr;
    }
    .navegacion__enlace{
        font-size: 2.5rem;
        margin-left: .8rem;
    }
    .navegacion{
        display: grid;
        background-color: black;
    }
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .grafico--cola{
        grid-row: 5 / 6;
        grid-column: 2 / 4 ;
    }

    .nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .nosotros__imagen{
       grid-column: 2 / 3;
    }  
   
    
    .iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 2rem;  
    }
    /*Parte del formulario forma parte del apartado de compra*/
     .pulsera{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    /* Carrito */
     .table{
         width: 80%;
     } 
}

/* Carrito de Compras*/
.sin-productos{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    text-align: center;
    font-size: 3rem;
    background-color: #c10909;
    display: block;
} 

.table{
    background-color: var(--secundario);
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 1.8rem;
    width: 100%;
}

#body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heads{
    
    /* display: flex; */
    /* justify-content: center; */
    width: 25%;
    text-align: left center;
    vertical-align: top;
    margin: 0 auto;
    height: 5.5rem;
    padding-top: 5%;
}

th{
    display: inline;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border-top: 1px solid white;
}

.heading-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border-top: 1px solid white;
}

#footer{
    display: block;
}

.agregar-carrito{
    background-color: #005a40;
    border: none;
    font-family: var(--fuentePrincipal);
    width: 2.5rem;
    height: 4rem;
    margin-top: .5rem;
}

.restar-carrito{
    background-color: #c10909;
    border: none;
    font-family: var(--fuentePrincipal);
    height: 4rem;
    margin-top: .5rem;
    width: 2.5rem;
}

.restar-carrito:hover{
    cursor: pointer;
}

.agregar-carrito:hover{
    cursor: pointer;
}

.vaciar-carrito{
    background-color: #c10909;
    border: none;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    border-radius: 5px;
}

.result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 5.5rem;
}

.total-scope{
    grid-column: 1 / 3;
}

.fila-carrito{
    height: 5rem;
}

#vaciar-carrito{
    height: 4rem;
    margin-top: .5rem;
}

/*POpup*/

.overlay{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 10;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: var(--primario);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 1rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    text-align: center;
}

.btn-cerrar{
    display: block;
    text-align: right;
}
.btn-cerrar:hover{
    cursor: pointer;
}

.btn-seguir{
    font-family: var(--fuentePrincipal);
    border: none;
    text-align: center;
    padding: 1rem;
    background-color: var(--amarillo);
    border-radius: .5rem;
}

.btn-seguir:hover{
    font-weight: bold;
}

.btn-ir{
    font-family: var(--fuentePrincipal);
    border: none;
    text-align: center;
    padding: 1rem;
    background-color: var(--amarillo);
    border-radius: .5rem;
}

.btn-ir:hover{
    font-weight: bold;
}

/*Slider Jquery*/
ul{
    list-style: none;
}

body{
    font-family: var(--fuentePrincipal)

}

.slideshow{
    width: 100%;
    position: relative;
}

.slider li, ul{
    width: 100%;
}

.slider li {
    overflow: hidden;
}

.slider li, img{
    width: 100%;
}

.slider .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    flex-direction: column;    
    padding: 1.5rem 5rem;

}

.pagination{
    position: absolute;
    top: 102%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.pagination li {
    font-size: 1.3rem;
    margin: .2rem .5rem;
    color: #858585;
    list-style: none;
    cursor: pointer;
}

.left, .right {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    
}

.left{
    left: 1rem;
    width: 5rem;
    font-size: 3.5rem;
}

.right{
    right: 1rem;
    width: 5rem;
    font-size: 3.5rem;
}

@media screen and (max-width: 600px){
    .slider .caption p{
       display: none;
    }

    .slider .caption h1{
        font-size: 3rem;
    }

    .left, .right{
        font-size: 2.5rem;
    }
    .slider li img {
        width: 60rem; 
    }

    .pagination{
        display: none;
    }
}